{% extends "SistemaUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<form>
		<p>{{ 'resetting.password_already_requested'|trans }}</p>
	</form>
{% endblock fos_user_content %}
