{% extends "TwigBundle:Exception:error.html.twig" %}

{% block fos_user_content %}
    <div class="status">
    	<h3>Hubo un error al procesar la información.</h3>
    </div>
    <br><br>
    <h4 class="text-danger">El servidor retornó el siguiente error "{{ status_code }}".</h4>
{% endblock %}