{% extends "SistemaUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="panel-heading">
        <div class="panel-title">Hubo un error.</div>
    </div>
    <div style="padding-top:30px" class="panel-body">
    	<h4 class="text-danger">Hubo un error.</h4>
    </div>
{% endblock fos_user_content %}