<div class="panel-heading">
    <div class="panel-title">Ayuda</div>
</div>
<div style="padding-top:30px" class="panel-body">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                <div class="col-xs-10">
                    <strong>Curriculum Vitae</strong>
                </div>
                <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li>Al hacer click en Datos en la parte inferior se encuentra habilitada la opci&oacute;n "Cargar Curriculum"</li>
                            <ul>
                                <li>Una vez presionado el boton cargar curriculum se va a dirigir a otra pantalla.</li>
                                <li>Haciendo click en el boton seleccionar en la parte superior de la opci&oacute;n archivo puede buscar el curriculum en su pc para cargarlo.</li>
                                <li>Una vez cargado el CV en formato pdf - doc - docx, debe presionar el bot&oacute;n "Guardar" y ser&aacute; redirigido a la vista de datos nuevamente.</li>
                                <li>Si se encuentra cargado el CV lo podr&aacute; descargar presionando el bot&oacute;n en la parte inferior con un icono de flecha.</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                <div class="col-xs-10">
                    <strong>Datos</strong>
                </div>
                <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li>Al hacer click en Datos visualizar&aacute; sus datos personales</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                <div class="col-xs-10">
                    <strong>Estado de Cuenta</strong>
                </div>
                <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li>Al hacer click en Estado de Cuenta visualizar&aacute; una tabla a continuaci&oacute;n se describe cada columna</li>
                            <ul>
                                <li>Descripci&oacute;n: Detalle de la cuenta</li>
                                <li>Saldo: Se considera el saldo al d&iacute;a de la fecha</li>
                                <li>Saldo total: Se considera el total de la deuda</li>
                                <li>Acciones</li>
                                <ul>
                                    <li>Lupa: Haciendo click podr&aacute; visualizar el detalle de los movimientos de la cuenta</li>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row toggle" id="dropdown-detail-3" data-toggle="detail-3">
                <div class="col-xs-10">
                    <strong>Trabajos</strong>
                </div>
                <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li>Al hacer click en Trabajos visualizar&aacute; una tabla a continuaci&oacute;n se describe cada columna</li>
                            <ul>
                                <li>Se visualizan diferentes datos del formulario de trabajo confeccionado</li>
                                <li>Columna Estado puede ser: GENERADO, PAGADO, PRESENTADO, CONFECCIONANDO REINTEGRO, REINTEGRO</li>
                                <li>Acciones</li>
                                <ul>
                                    <li>Lupa: Haciendo click podr&aacute; visualizar el detalle del formulario</li>
                                    <li>Impresora: Haciendo click se genera el PDF del formulario del trabajo, el cual debe ser presentado en la delegaci&oacute;n para dar inicio al tr&aacute;mite</li>
                                </ul>
                            </ul>
                            <li>También se visualiza una botonera con diferentes acciones que podrá realizar</li>
                            <ul>
                                <li>Confeccionar Trabajo: Al hacer click, consta de varios pasos que se detallan a continuación</li>
                                <ul>
                                    <li>En la primer instancia deberá seleccionar el Servicio a presentar e ingresar el CUIT del comitente, click en el botón Seleccionar</li>
                                    <li>Debe ingresar los montos necesarios para poder calcular monto mínimo de honorarios: BASE DE CALCULO SEGUN LEY 3.111, click en el botón Continuar</li>
                                    <li>En este último paso el formulario se encuentra divido en:</li>
                                    <ul>
                                        <li>DATOS DEL TRABAJO, Completar los campos: Fecha del informe o certificación (d&iacute;a/mes/a&ntilde;o), Fecha de cierre (d&iacute;a/mes/a&ntilde;o), Cantidad de trabajos (ejemplares, copias a presentar)</li>
                                        <li>DATOS DEL CLIENTE</li>
                                        <ul>
                                            <li>Si el CUIT es correcto se obtendran los datos correspondientes</li>
                                            <li>En caso de no obtener los datos correspondientes, Verificar el CUIT ingresado si no es correcto iniciar el proceso de Confeccionar Trabajo nuevamente</li>
                                            <li>En caso de que el CUIT sea correcto y no se completen los datos automáticamente deberá completar los campos: CUIT, Comitente, Domicilio real/social</li>
                                        </ul>
                                        <li>DATOS DEL PROFESIONAL</li>
                                        <ul>
                                            <li>Completar los campos con sus datos actualizados, todos obligatorios</li>
                                        </ul>
                                        <li>BASE DE CALCULO SEGUN LEY 3.111</li>
                                        <ul>
                                            <li>Aquí visualizará el monto mínimo de honorarios</li>
                                            <li>Debe ingresar el Monto correspondiente a honorarios (requerido)</li>
                                            <li>Monto para discriminar IVA (opcional)</li>
                                            <li>Monto correspondiente al 8% de los honorarios (opcional)</li>
                                            <li>Pudiendo ingresar (0) cero en los casos que esto sea posible</li>
                                            <li>La sumatoria de todos los montos se visualizará en el campo Monto total (Honorarios + IVA + Aporte)</li>
                                            <li>En el campo Monto a depositar debe ingresar el total correspondiente a depositar para presentar el trabajo</li>
                                        </ul>
                                        <li>Antes de confirmar el trabajo de ser necesario se puede visualizar una vista previa del mismo haciendo click en el botón Vista previa, Esto no confirma el trabajo</li>
                                        <li>VERIFIQUE QUE TODOS LOS DATOS SEAN CORRECTOS (una vez que confirme No podrá modificar el formulario, por ende solo podrá volver a Confeccionar Trabajo), click en el botón Confirmar</li>
                                    </ul>
                                    <li>Confirmado el formulario podrá visualizarlo con todos su datos y en la esquina superior derecha se encuentra el botón para Imprimir PDF</li>
                                </ul>
                                <li>Exportar</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <p>Nos encontramos trabajando en el instructivo, en caso de tener consultas, dudas o aportes para mejorar nuestro sistema puede contactarse por medio del siguiente correo <a href="mailto:sistemas@cpcechaco.org.ar">sistemas@cpcechaco.org.ar</a></p>
</div>
