<div class="panel-heading">
    <div class="panel-title">Novedades</div>
</div>
<div>
   	<iframe width="750" height="1500" src="https://cpcech.org.ar/index.php/2022/02/02/accesos-de-utilidad-novedades/"></iframe>
</div>
<style> iframe { border:none; } </style>
