{% if tareaCodigo == 1 %}
    <div class="col-lg-12 col-md-12 col-sm-12"><hr></div>
        <hr>
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">CON FINES DE LUCRO</div>
                <div class="panel-body panel-alto">
                    Informes de Auditoría de Estados Contables de cierre de ejercicio o de período intermedio emitidos por Entes comerciales, industriales, profesionales, agropecuarios, gremiales, de servicios, de oficios u otros (excepto los incluidos en SIN FINES DE LUCRO).
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">SIN FINES DE LUCRO</div>
                <div class="panel-body panel-alto">
                    Informes de Auditoría de Estados Contables de cierre de ejercicio o de período intermedio emitidos por Entes cuya actividad principal sea de asistencia social, salud pública, caridad, beneficencia, educación e instrucción, investigación científica, literaria, artística y de cultura física o intelectual, siempre que sus ganancias y su patrimonio social se destinen a los fines de su creación y en ningún caso se distribuyan, directa o indirectamente, entre los socios. Incluye entidades pertenecientes en todo o en parte mayoritaria a los estados nacionales, provinciales o municipales.
                </div>
            </div>
        </div>
    </div>
{% endif %}