{% block form %}
    <fieldset>
        <legend>
            <h4>Alojamiento:</h4>
        </legend>
        <div class="row">
            {% if form.hotel is defined %}
                <div class="col-lg-6 col-md-12 col-sm-12" id="hotel">
                    {{ form_row(form.hotel) }}
                </div>
            {% endif %}
        </div>
    </fieldset>
{% endblock %}