{% block subject %}
{% autoescape false %}
    CPCE Profesional Postulado
{% endautoescape %}
{% endblock %}
{% block body_text %}{% autoescape false %}{% endautoescape %}{% endblock %}
{% block body_html %}
<img src="{{ cpce_logo }}" alt="CPCE Chaco">
<br>
<p>Estimada Empresa</p>
<p>{{ contenido }}</p>
<p>Atentamente,</p>
<p>CPCE Chaco.</p>
{% endblock %}