{% extends "SistemaUserBundle::layout.html.twig" %}

{% block wrapper %}
	<div id="page-wrapper">
        {{ render(url('foro_grupo')) }}
    </div>
{% endblock wrapper %}

{% block footer %}{% endblock footer %}